<div class="modal" tabindex="-1" role="dialog" id="notesEditDell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Meu Lembrete</h5>
                <small>{{this.createdAt}}</small>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/notes" method="post">
                <input type="hidden" name="id" value="{{this.id}}">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="color">Escolha a cor do bloco</label>
                        <select name="color" id="color" class="form-control">
                            <option value="">selecione</option>
                            <option value="light">Branco</option>
                            <option value="decondary">Cinza</option>
                            <option value="dark">Preto</option>
                            <option value="info">Azul Claro</option>
                            <option value="primary">Azul Escuro</option>
                            <option value="success">Verde</option>
                            <option value="warning">Amarelo</option>
                            <option value="danger">Vermelho</option>
                        </select>
                        <label for="subject">Adione o assunto</label>
                        <input type="text" name="subject" class="form-control" value="{{this.subject}}">
                        <label for="title">Adione o titulo</label>
                        <input type="text" name="title" class="form-control" value="{{this.title}}">
                        <label for="desc">Adione a descrição</label>
                        <textarea name="desc" id="desc" cols="30" rows="5" class="form-control">{{this.desc}}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Apagar</button>
                    <button type="submit" class="btn btn-secondary">Salvar Alterações</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
