<div class="modal" tabindex="-1" id="addClass">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Carregue informações para pagina inicial FAB LAB II</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/config/classe" method="POST">
                    <h5 class="mt-3">Anuncio 1</h5>
                    <div class="row">
                        <div class="col">
                            <input type="text" name="" id="" placeholder="Titulo" class="form-control mt-2 ">
                            <textarea name="" id="" cols="30" rows="3" class="form-control mt-2"></textarea>
                        </div>
                    </div>
                    <h5 class="mt-3">Anuncio 2</h5>
                    <div class="row">
                        <div class="col">
                            <input type="text" name="" id="" placeholder="Titulo" class="form-control mt-2 ">
                            <textarea name="" id="" cols="30" rows="3" class="form-control mt-2"></textarea>
                        </div>
                    </div>
                    <h5 class="mt-3">Anuncio 3</h5>
                    <div class="row">
                        <div class="col">
                            <input type="text" name="" id="" placeholder="Titulo" class="form-control mt-2 ">
                            <textarea name="" id="" cols="30" rows="3" class="form-control mt-2"></textarea>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col"></div>
                        <div class="col">
                            <button class="btn btn-primary col-12">Enviar</button>
                        </div>
                        <div class="col"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="editClass">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Carregue imagem para pagina inicial FAB LAB II</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#if classe}}
                {{#each classe}}
                <form action="/config/classe/edit" method="post">
                    <hr>
                    <div class="row mt-1">
                        <div class="col-8">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="text" name="classe" class="form-control" value="{{classMenu}}">
                        </div>
                        <div class="col-3">
                            <button class="btn btn-warning col-12">Editar</button>
                        </div>
                    </div>
                    <hr>
                </form>
                {{/each}}
                {{else}}
                <h3 class="text-center">Você aida não possui classes no cardápio, vá em configurações e cadastre.
                </h3>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="dellClass">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deletar Classe Cardápio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#if classe}}
                {{#each classe}}
                <form action="/config/classe/delete" method="post">
                    <hr>
                    <div class="row mt-1">
                        <div class="col-8">
                            <input type="hidden" name="id" value="{{id}}">
                            <h5>{{id}}-{{classMenu}}</h5>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-danger col-12">Apagar</button>
                        </div>
                    </div>
                    <hr>
                </form>
                {{/each}}
                {{else}}
                <h3 class="text-center">Você aida não possui classes no cardápio, vá em configurações e cadastre.
                </h3>
                {{/if}}
            </div>
        </div>
    </div>
</div>